<configuration>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
    <assemblyIdentity name="RainCodeLegacyRuntime" publicKeyToken="b351c3853ee4a149" culture="neutral" />
    <codeBase version="4.2.652.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\RainCodeLegacyRuntime.dll" />
</dependentAssembly>
<dependentAssembly>
    <assemblyIdentity name="RainCodeQixInterface" publicKeyToken="5c19c1713d0f0b0c" culture="neutral" />
    <codeBase version="4.2.652.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\RainCodeQixInterface.dll" />
</dependentAssembly>
<dependentAssembly>
    <assemblyIdentity name="rccorlib" publicKeyToken="44ab4e15cffad0e3" culture="neutral" />
    <codeBase version="1.0.52.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\rccorlib.dll" />
</dependentAssembly>
<dependentAssembly>
    <assemblyIdentity name="RainCode.PackedNumeric" publicKeyToken="b351c3853ee4a149" culture="neutral" />
    <codeBase version="4.2.652.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\RainCode.PackedNumeric.dll" />
</dependentAssembly>
<dependentAssembly>
    <assemblyIdentity name="RainCodeLegacyRuntimeUtils" publicKeyToken="b351c3853ee4a149" culture="neutral" />
    <codeBase version="4.2.652.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\RainCodeLegacyRuntimeUtils.dll" />
</dependentAssembly>
<dependentAssembly>
    <assemblyIdentity name="RainCodeLegacyRuntimeDebug" publicKeyToken="b351c3853ee4a149" culture="neutral" />
    <codeBase version="4.2.652.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\RainCodeLegacyRuntimeDebug.dll" />
</dependentAssembly>
<dependentAssembly>
    <assemblyIdentity name="RainCodeLegacyFileDriver" publicKeyToken="b351c3853ee4a149" culture="neutral" />
    <codeBase version="4.2.652.0" href="C:\Program Files\Raincode\Compilers\net6.0\bin\RainCodeLegacyFileDriver.dll" />
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>
